body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.hero {
    background-color: #1f2937;
    color: white;
    padding: 30px 210px 60px 210px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.nav-links a {
    margin-left: 20px;
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 20px;
}

button {
    background-color: #3882f6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
}

.hero-img {
    background-color: #6b7280;
    color: white;
    width: 500px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-section {
    background-color: #f9fafb;
    padding: 60px 210px;
    text-align: center;
}

.info-section h2 {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 40px;
    color: #1f2937;
}

.info-cards {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.info-card {
    max-width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-img {
    width: 100px;
    height: 100px;
    border: 3px solid #3882f6;
    border-radius: 12px;
    margin-bottom: 12px;
}

.info-card p {
    font-size: 18px;
    color: #6b7280;
    line-height: 1.4;
    text-align: center;
}

.quote-section {
    background-color: #e5e7eb;
    padding: 80px 400px;
    display: flex;
    justify-content: center;
}

.quote-container {
    max-width: 800px;
    text-align: left;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    margin-bottom: 20px;
}

.quote-author {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    color: #1f2937;
}